/* <<<<......shared styles......>>>> */
.azeret-mono{
    font-family: "Azeret Mono", monospace;
}
.common-title{
    font-size: 32px;
    color: #0D1321;
    font-weight: bolder;
}
.pic-title{
    font-size: 24;
    font-weight: bolder;
    color: #0D1321;
}
.common-description{
    font-size: 16px;
    color: #0D1321;
}
.anchor{
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}
.center{
    text-align: center;
}
.pd24px{
    padding-top: 24px;
}


/* <<<..part-01..>>> */
.header{
    background-image: url('../assets/Hero-bg.png');
    /* max-width: 1440px;
    max-height: 652px; */
    margin: 0px auto;
}
.part-01{
    padding: 26px 220px 45px 220px;
    text-align: center;
}
.part-01-title{
    font-size: 48px;
    font-weight:bolder;
    color: #0D1321;
    /* width: 900px; */
    text-align:center;
    margin-top: 32px;
}
.part-01-button{
    background-color: #0D1321;
    font-size: 20px;
    color: #FFFFFF;
    padding: 15px 17px;

}

/* <<<..part-02..>>> */
main{
    padding-left: 150px;
    padding-right: 150px;
    margin: 74px auto 0px auto;
    background-color: #FFFFFF;
}
.part-02{
    padding: 48px 97px 80px 97px;
}

.parts-title{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
}
.part-02-button{
    padding: 10px 18px;
}
.parts1,.parts2,.parts3{
    padding: 48px;
    display: flex;
    gap:5px;
    /* justify-content: space-between; */
    margin-bottom: 32px;
    justify-content: center;
}
/* .parts1{
}
.parts2{

} */
.parts2-blog{
    padding-right: 101px;
}
.parts3{
 justify-content: space-around;

}
.parts3-blog{
    padding-left: 48px;
}


/* <<<....part-03.....>>> */
.youtube{
    /* max-width: 550px; */
    margin-top: 30px;
    width: 100%;
    text-align: center;
    border: 32px #0D1321;
    padding: 20px;
    border: 0.5px solid #ccc;
    display: inline-block;
}
.youtube iframe {
    width: 100%;
}

/* <<<<.....part-04.....>>>> */
.part-04{
    margin-top: 150px;
}
.pic-title{
    font-size: 24px;
    font-weight: bolder;
    color: #0D1321;
    padding-top: 24px;
}
.tag-desc{
    padding-top: 8px;
    padding-bottom: 24px;
}
.current-targets{
    margin-top: 48px;
    display: flex;
    gap:24px;
    /* align-items: center; */
    justify-content:space-evenly;
}
.target1{
    padding: 40px;
    background-color:rgba(255, 71, 30, 0.05);
    max-width: 365px;
    max-height: 300px;
}
.target2{
    padding: 40px;
    background-color:rgba(0, 76, 232, 0.05);
    max-width: 365px;
    max-height: 300px;
}
.target3{
    padding: 40px;
    background-color: rgba(255, 223, 0, 0.05);
    max-width: 365px;
    max-height: 300px;
}

.part-04-02{
    margin-top: 111px;
}
.part-04-02-title{
    margin:24px 0px 48px 0px;
}
.next-target1,.next-target2,.next-target3{
    border:0.5px solid rgba(13, 19, 33, 0.15);
    margin-bottom: 24px;
    display: flex;
    gap:24px;
    padding: 40px;
}
.part-04-02-desc{
    padding-top: 8px;
    padding-bottom: 24px;
}

/* <<<.....part-05.....>>> */
